:host {
    font-family: Courier New, Courier, monospace;
    display: flex;
    padding: 5px;
    .command-type {
        width: 60px;
        background-color: lightgrey;
        font-size: 12px;
        line-height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .command-index {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        padding: 0 5px;
        font-size: 12px;
    }
    button {
        margin-right: 1px;
        &:last-of-type {
            margin-right: 0;
        }
        &.button-delete {
            background-color: red;
        }
    }
}