ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(20, 2rem);
  grid-template-rows: 2rem 2rem;
  grid-auto-flow: column;
  grid-gap: 5px;

  li {
    position: relative;
     &:nth-child(odd) {
        /* autoprefixer: off */
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &:nth-child(even) {
        /* autoprefixer: off */
        grid-row-start: 2;
        grid-row-end: 3;
    }
  }
}
