<span class="ws-indicator fa-stack">
  <i class="fa fa-bolt fa-stack-1x" aria-hidden="true"></i>
  <i [ngClass]="{'fa-circle-thin':wsConnection===1, 'fa-ban':wsConnection!=1}" class="fa fa-stack-2x" aria-hidden="true"></i>
</span>
<main>
  <sv-pin-list [pins]="pins | async" (pinSelected)="showConfig($event)"></sv-pin-list>
  <hr>
  <sv-command-list [commands]="commands | async"></sv-command-list>
</main>
<aside>
  <sv-pin-config [pin]="selectedPin" *ngIf="selectedPin"></sv-pin-config>
</aside>

<router-outlet></router-outlet>

