:host {
  display: grid;

  grid-template-columns: auto auto auto;
  grid-auto-flow: row;
  grid-gap: 10px;
}

main {
 /* autoprefixer: off */
  grid-column-start: 1;
  grid-column-end: 2;

  sv-pin-list {
  }
}

aside {
  /* autoprefixer: off */
  grid-column-start: 2;
  grid-column-end: 3;
}

.ws-indicator {
  color: red;
  &.active {
    color: green;
  }
}